.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 35px;
  cursor: pointer;
  border: 0.5px solid silver;
  color: rgb(255, 0, 0);
  line-height: 0;
}
.activeBtn {
  color: white;
  background-color: rgb(43, 255, 0);
}
 
